<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <title>Projetos - ProjIF</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/logo_pfi.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/tela_visit_visualizar_projetos.css">
</head>

<body>
    <div class="menu" style="background-color: #105039">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #105039">
            <img src="../static/img/logo_pfi.png" alt="logo_pfi" style="width: 50px; height: 50px">
            <a class="navbar-brand" href="{{ url_for('acesso') }}">ProjIF</a>
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado" style="background-color: #105039">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('projetos') }}"><b>Projetos</b></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('atualizacoes') }}">Atualizações</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('sobre') }}">Sobre</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a href="{{ url_for('perfil') }}">{{ nomear_coordenador() }}</a>
                </span>
            </div>
        </nav>
    </div>

    <div class="container" style="margin-left: 5%;">
        <h4 style="margin-top: 5%; margin-bottom: 3%;">Projetos Existentes</h4>
        
        {% for projeto in projetos %}
        <div id="{{ projeto.id_projeto }}" style="display: flex; margin-bottom: 20px;"> <!-- Organização dos projetos -->
            <a href="{{ url_for('consultar_projeto', proj_id=projeto.id_projeto) }}" style="display: flex; flex-direction: column; width: 250px;">
                <h5 style="margin-top: 2%; color: black;">{{ projeto.nome }}</h5> <!-- Nome -->
                <p style="margin: 0.5% 0;">{{ projeto.tipo }}</p> <!-- Tipo -->
                <p style="margin: 0.5% 0;">{{ projeto.coordenador }}</p> <!-- Coordenador -->
                <p style="margin: 0.5% 0;">{{ projeto.situacao }}</p> <!-- Situação -->
            </a>
            <a href="{{ url_for('consultar_projeto', proj_id=projeto.id_projeto) }}" style="flex: 1; margin-left: 3%;">
                <p>{{ projeto.resumo }}</p> <!-- Resumo -->
            </a>
        </div>
        <hr style="background-color: black; margin-bottom: 3%;">
        {% endfor %}
    </div>
    
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

</body>

</html>